@charset "utf-8";
/*---------------------------------------------
	파일명 : enter
	설　명 : 입장하기
	클래스명 : 카멜케이스, 태그역활 + 컨텐츠내용 조합, 넘버링은 하이픈
	작성순서 : 1. 레이아웃  2.크기/간격  3.박스모양  4.폰트  5.기타
			position / display / float / width / height / margin / padding / border / background / font / overflow / etc...
---------------------------------------------*/
/* 입장하기 */
#enter{padding: 70px 20px 100px 20px; box-sizing: border-box;}
#enter h2{line-height: 1.84rem; margin-bottom: 30px;}
#enter .sectionInput{position: relative; width: 100%; height: auto; margin-bottom: 30px; background-color: #FFFFFF;}
#enter .sectionInput .setBottomLine{margin-bottom: 6px;}
#enter .sectionSubmit{position: relative; width: 100%; height: auto; background-color: #FFFFFF;}
#bottomFix .sectionForget{position: relative; width: 100%; height: auto; padding-bottom: 50px; text-align: center;}
#bottomFix .sectionForget .textForget{line-height: 0.86rem; margin-bottom: 8px; color: #C0C0C0; font-size: 0.86rem;}
#bottomFix .sectionForget .linkForget{position: relative; display: inline-block; line-height: 0.86rem; color: #A0A0A0; font-size: 0.86rem;}
#bottomFix .sectionForget .linkForget:hover,
#bottomFix .sectionForget .linkForget:focus{color: #505050;}
#bottomFix .sectionForget .linkForget:after{content: ""; position: absolute; right: 0; left: 0; bottom: -2px; height: 1px; background-color: #A0A0A0;}